<div>Choose your city!</div>
<form action="/updateLoc" method="post">
    <div class="form-group">
        <label>Location</label>
        <input list="location" name="location" ng-model="currentUser.location">
          <datalist id="location">
            <option value="Galway">
            <option value="Dublin">
            <option value="Cork">
            <option value="Limerick">
          </datalist> 
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Update User Profile</button>
</form>