<ion-header-bar id="filters" align-title="left" class="bar-positive">
        <div class="row">
            <div class="col">
                <i class="icon ion-university" ng-click="search('education')"></i>
            </div>   
            <div class="col">
                <i class="icon ion-leaf" ng-click="search('outdoors')"></i>
            </div> 
            <div class="col">
                <i class="icon ion-happy" ng-click="search('indoorFun')"></i>
            </div>
            <div class="col" ng-click="search('food')">
                <i class="icon ion-fork" ></i>
                <i class="icon ion-knife" ></i>
           </div>
            <div class="col">
                <i class="icon ion-paintbrush" ng-click="search('culture')"></i>
            </div>
            <div class="col">
                <i class="icon ion-information-circled" ng-click="search('goodToKnow')"></i>
           </div>
            <div class="col">
                <i class="icon ion-help-buoy" ng-click="search('ICE')"></i>
            </div>
        </div>
</ion-header-bar>
<ion-content scroll="false">
        <div id="map"></div>

    	<div ng-if="isAdmin">
    		<div ng-repeat="place in allPlaces track by $index">
    		  {{place.name}},
    		  {{place.address}},
    		  {{place.type}},
    		  {{place.user}},
    		  {{place.verified}}
    		  <button ng-click="verify(place.id)">Verify Me! </button> 
    		</div>
    	</div>
    </ion-content>
<div id="newData" hidden="true">
	<form ng-submit="addPlace()">
      <div class="form-group">
	        <label>Name</label>
	        <input type="text" class="form-control" placeholder="name" name="name" ng-model="newPlace.name">
    	</div>
   		<div class="form-group">
        	<label>Type</label>
            <select ng-model="newPlace.type" ng-options="o as o for o in allTypes">
            </select>
    	</div>
    	<div class="form-group">
        	<label>Price</label>
        	<select ng-model="newPlace.price_level">
             <option value="0">Free</option>   
             <option value="1">Inexpensive</option>   
             <option value="2">Moderate</option>   
             <option value="3">Expensive</option>   
             <option value="4">Very Expensive</option>   
            </select>
    	</div>
		<button type="submit">Add!</button>
    </form>