<form action="/updateDetails" method="post">
    <div class="form-group">
        {{currentUser.userName}}
        <input type="hidden" class="form-control" name="userName" value="{{currentUser.userName}}">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" name="location" value="{{currentUser.location}}">
    </div>
    <div class="form-group">
        <label>Budget</label>
        <input type="text" class="form-control" name="budget" value="{{currentUser.budget}}">
    </div>
    <div class="form-group">
        <label>Num Children</label>
        <input type="text" class="form-control" name="numChildren" value="{{currentUser.numChildren}}">
    </div>
    <div class="form-group">
        <label>Age of Children</label>
        <input type="text" class="form-control" name="ageChildren" value="{{currentUser.ageChildren}}">
    </div>
    <div class="form-group">
        <label>Activity Types</label>
        <input type="text" class="form-control" name="activityType" value="{{currentUser.activityType}}">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Update User Profile</button>
</form>
