body { padding-top:30px; }
#map {
    height: 70em;
    width: 100%;
}
#filters .row{
	margin-left:10px;
}

.action-button-small {
	display: none !important;
}

.action-button-small-container {
	padding-bottom: 115px !important;
	padding-right: 0px !important;
}