<ion-header-bar align-title="left" class="bar-positive">
<h1>
    BeaconApp
</h1>
</ion-header-bar>
    
<ion-content scroll="false">
    <div ng-show="showLoginForm">
        <h2>
            Log in
        </h2>
        <form>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="user.userName">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="text" placeholder="Password" ng-model="user.password">
            </label>
            <button type="submit" class="button button-positive" ng-click="login()">Login</button>
            or
            <button type="button" class="button button-energized" ng-click="showLoginForm = false">Signup instead</button>
        </div>
    </div>

    <div ng-show="!showLoginForm">
        <h2>
            Signup
        </h2>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="user.userName">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="text" placeholder="Password" ng-model="user.password">
            </label>
            <button type="submit" class="button button-positive" ng-click="signup()">Signup</button>
            or
            <button type="button" class="button button-energized" ng-click="showLoginForm = true">Login instead</button>
        </div>
    </div>
</ion-content>