<ion-header-bar id="filters" align-title="left" class="bar-positive">
    <a class="button icon-left ion-chevron-left button-clear" ng-click="goBack()">
        Back
    </a>

  <h1 class="title">{{currentUser.userName}} Settings</h1>

  <ion-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-button>
</ion-header-bar>

<ion-content>
    <form>
        <div class="form-group">

            <input type="hidden" class="form-control" name="userName" value="{{currentUser.userName}}">
        </div>
        <div class="form-group">
            <label>Location</label>
            <select name="location" ng-model="currentUser.location">
                <option value="Galway">Galway</option>
                <option value="Dublin">Dublin</option>
                <option value="Cork">Cork</option>
                <option value="Limerick">Limerick</option>
            </select>
        </div>
        <div class="form-group">
            <label>Budget</label>
<!--             <input type="text" class="form-control" name="budget" value="{{currentUser.budget}}"> -->
            <select ng-model="currentUser.budget" name="budget">
                 <option value="0">Free</option>   
                 <option value="1">Inexpensive</option>   
                 <option value="2">Moderate</option>   
                 <option value="3">Expensive</option>   
                 <option value="4">Very Expensive</option>
            </select>
        </div>

        <div class="form-group">
            <label>Age of Children</label>
            <label>Young Children:
                <input type="checkbox" ng-model="currentUser.young_child">
            </label>
            {{currentUser.young_child}}
            <label>Older Children [10+]:
                <input type="checkbox" ng-model="currentUser.older_child">
            </label>
        </div>
        <div class="form-group">
            <label>Activity Preference</label>
            <!-- <input type="text" class="form-control" name="activityType" value="{{currentUser.activityType}}"> -->
            <select ng-model="currentUser.activityType" name="activityType">
                 <option value="education">Educational</option>   
                 <option value="outdoors">Outdoor Activities</option>   
                 <option value="indoorFun">Indoor Activities</option>   
                 <option value="food">Places to Eat</option>   
                 <option value="culture">Culture</option>
            </select>
        </div>
        <button type="submit" class="button button-positive" ng-click="updateUserDetails()">Update User Profile</button>
        <button type="submit" class="button button-assertive" ng-click="goBack()">cancel</button>
    </form>

    <div ng-if="isAdmin">
    <table>
            <tr ng-repeat="place in newPlaces track by $index">
              <td>{{place.name}},</td>
              <td>{{place.lat}}, {{place.long}},</td>
              <td>{{place.type}},</td>
              <td>{{place.user}},</td>
              <td>{{place.verified}},</td>
              <td><button ng-click="verify(place.id)">Verify Me! </button> </td>
            </tr>
    </table>
    </div>
</ion-content>