body { 
	padding-top:30px; 
}
.liked {
	background-color: green;
}
.disliked {
	background-color: red;
}

#map {
	position:fixed !important;
    height: 90vh;
    width: 100%;
    bottom:0px;
    overflow: hidden;
}
ion-header-bar h1{
	color: white;
    font-size: 2em
}

.row{
	margin-left:5%;
	margin-right: 5%;
}

.action-button-small {
	display: none !important;
}
.action-button-small--label {
	margin: 5px 20px !important;
}
.action-button-small-container {
	padding-right: 0px !important;
    background: rgba(0, 0, 0, 0.4) !important;
    top:0;
}
.row a {
	color: white;
	/*margin-left: 12.5px;*/
}
.col{
	text-align: center;
}
.col > i {
	font-size: 130%;
    padding: 5px 8px;
    border-radius: 16px;
}
.col.selected > i {
	color:#387ef5;
	background-color: #fff;
	font-size: 140%;
    padding: 5px 8px;
    border-radius: 16px;
}

ion-side-menu {
	overflow-y: auto !important;
	padding-top:50px !important;
}

.map-icon-label .map-icon {
	display:inline-block;
	padding:5px;
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	white-space: nowrap;
	background-color:black;
	border-radius:5px;
}
.map-icon-label .map-icon.ion-university{
	background-color:red;
}
.map-icon-label .map-icon.ion-leaf{
	background-color:green;
}
.map-icon-label .map-icon.ion-happy{
	background-color:orange;
}
.map-icon-label .map-icon.ion-fork{
	background-color: #00CCBB;
}
.map-icon-label .map-icon.ion-paintbrush{
	background-color:purple;
}
.map-icon-label .map-icon.ion-information-circled{
	background-color:black;
}
.map-icon-label .map-icon.ion-help-buoy{
	background-color:red;
}
.map-icon-label .map-icon.recommended{
	border: 2px solid #ffd024 ;
	color: #ffd024 !important ;
}
.map-icon-label .myMarker {
	color: white;
	background-color: #339dd8;
	display:block;
}
.map-icon-label .map-icon.ion-ios-body{
	color: white;
	background-color: #339dd8;
}

.map-icon-label .me{
    font-size: 12px;
    padding: 7px;
    display: block;
    margin-top: -19px;
}
